## Create the "fireworker" python virtual environment for development, and select it in this directory:
#   pyenv install 3.11.3
#
#   pyenv virtualenv 3.11.3 fireworker && pyenv local fireworker
#   pip install --upgrade pip
#   pip install --upgrade -r requirements.txt && pyenv rehash

# Installers
pip
setuptools
virtualenv
virtualenvwrapper
virtualenv-clone
wheel

# Direct requirements
google-cloud-logging
google-cloud-storage
docker
FireWorks
requests
ruamel.yaml

# Dev tools
twine
