## Create the "fireworker" python virtual environment and select it in this directory:
#   pyenv install 3.8.0
#
#   pyenv local 3.8.0
#   pip install --upgrade pip setuptools virtualenv virtualenvwrapper virtualenv-clone wheel
#
#   pyenv virtualenv fireworker
#   pyenv local fireworker
#   pip install --upgrade pip setuptools virtualenv virtualenvwrapper virtualenv-clone wheel
#   pip install -r requirements.txt
#   pyenv rehash

FireWorks==1.9.5
