# Copy this file to /etc/systemd/system/borealis.service
#
# then:
#   > sudo systemctl start borealis
#   > sudo systemctl enable borealis

[Unit]
Description=Borealis, a FireWorks worker on Google Compute Engine

[Service]
Type=simple
ExecStart=/bin/bash /home/fireworker/borealis/script/boot.sh
User=fireworker
Group=fireworker
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/fireworker/.cloud.json

[Install]
WantedBy=multi-user.target
