# sudo cp this file to /etc/systemd/system/borealis-fireworker.service
# then:
#   > sudo systemctl start borealis-fireworker
#   > sudo systemctl enable borealis-fireworker
#
# Stop it via:
#   > sudo systemctl stop borealis-fireworker
#
# Follow its output via
#   > sudo journalctl -u borealis-fireworker -f
#
# For documentation see: man systemd.service; man systemd.exec

[Unit]
Description=A FireWorks worker on Google Compute Engine
Documentation=https://github.com/CovertLab/borealis
After=networking.service

[Service]
Type=simple
ExecStart=/bin/bash /home/fireworker/borealis/startup.sh
User=fireworker
Group=fireworker
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
